@model Mango.Web.Models.CartDto

@if (Model.NumberOfCartItems > 0)
{
    <li class="nav-item">
        <a class="nav-link " asp-area="" asp-controller="Cart" asp-action="CartIndex">
            &nbsp; <i class="bi bi-cart"></i>&nbsp;
            @Model.NumberOfCartItems
        </a>
    </li>
}